<?xml version="1.0"?>
<launch>
  <!--<arg name="limited" default="false"/>-->
  <arg name="paused" default="false"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find augmented_robot_des)/launch/ur10_mod.launch"/>
    
  

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.775  -J shoulder_lift_joint -1.5707" respawn="false" output="screen" />





  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur10.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" />


    <!-- launch moveit-->

   <include file="$(find ur10_moveit_config)/launch/ur10_moveit_planning_execution.launch">
    <arg name="sim" value="true"/>
    <arg name="limited" value="true"/>
  </include>



   <!-- launch rviz-->

   <include file="$(find ur10_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
   </include>

   <rosparam file="$(find augmented_robot_des)/urdf/vel.yaml" command="load" ns = "/robot_description_planning"/>

</launch>
